ion-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #222;
}

ion-content {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

a.active-nav{
    background-color: #ffd204;
    color: #000;
    width: 100%;
    text-align: center;
}

h1 {
  text-align: center;
  color: #ffd204;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 5rem;
}

h2 {
  text-align: center; 
}

/*.ticket-container{
  height: auto;
  width: 80vmin;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  //position: absolute;
  //top: 40%;
  //left: 50%;
  //transform: translate(-50%, -50%);
 // margin-top: 12rem;
 margin-left: 10%;
}*/

.ticket-container img {
  width: 100%;
  height: 100%;
  filter: invert(0%) sepia(98%) saturate(7491%) hue-rotate(0deg) brightness(106%) contrast(100%);
}

.qr-data {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.scanBtn {
  --background: #fdcf04;
  --box-shadow: none;
  width: 90%;
  height: 8%;
  font-size: 1.5rem;
  //position: absolute;
  //bottom: 0%;
  //left: 10%;
  //margin-top: 25rem;
  margin-left: 5%;
  margin-top: 10%;
  opacity: 1;
}

@media(max-width: 370px) {
  h1 {
    margin-top: 2rem;
  }
}
