ion-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #222;
}

ion-content {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

a.active-nav{
    background-color: #ffd204;
    color: #000;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 1.3rem;
    text-indent: 1rem;
}

select {
    width: 90%;
    padding: 0.5rem;
    margin-left: 1rem;
}

ion-button {
    width: 100%;
    height: 2.5em;
  margin: 2.5rem 0;
  --background: #222;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.4em;
  color: #fff;
  text-transform: none;
}
