ion-content {
  --background: #222222;
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
}

ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 4em;
  background-color: black;
  border-radius: 10px;
  height: 35%;
}

form {
  width: 100%;
}

ion-input {
  width: 100%;
  min-height: 8vmin;
  margin: 2rem 0;
  background-color: white;
  color: #333;
  text-indent: 0.4rem;
  font-size: 1.1rem;
}

ion-button {
  width: 100%;
  min-height: 15vmin;
  --background: #ffd204;
  color: black;
  text-transform: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}
