ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #ffd204;
}

ion-header {
  box-shadow: none;
}

ion-content {
  --background: #222222;
}
.logo {
  width: 20vmin;
  height: 20vmin;
  margin: 1rem;
}

a {
  display: flex;
  justify-content: flex-end;
}

a .phone {
  color: black;
}

h1 {
  text-align: center;
  color: #ffd204;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 5rem;
}

h2 {
  text-align: center; 
}

.ticket-container{
  height: auto;
  width: 80vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  //top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 12rem;
}

.ticket-container img {
  width: 100%;
  height: 100%;
}


ion-list {
  background-color: #222222;
}

.qr-data {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.scanBtn {
  --background: #fdcf04;
  --box-shadow: none;
  --opacity: 1;
  width: 80%;
  height: 10%;
  font-size: 1.5rem;
  position: absolute;
  //bottom: 0%;
  left: 10%;
  margin-top: 25rem;
}

@media(max-width: 370px) {
  .scanBtn {
    margin-top: 20rem;
  }

  img {
    margin-bottom: 10rem;
  }

  h1 {
    margin-top: 2rem;
  }
}
