ion-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #222;
}

ion-content {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

a.active-nav{
    background-color: #ffd204;
    color: #000;
    width: 100%;
    text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
